body {
    text-align:center;
}

a:hover, a:active, a:focus {
    color:orange;
}

#infoPart {
    font-size:1em;
}

#browserTab {
    width:100%;
    empty-cells: show;
    table-layout : fixed;
    border-collapse : collapse;
}

#browserTab a{
    font-size: 1.5em;
}

tr {
    margin:0px;
    padding:0px;
}
td {
    margin:0px;
    text-align:center;
    padding:0px;
}
.borderl { 
    border-left: 0.1em solid #000;
    height: 0.8em;
}
.borderb { 
    border-bottom: 0.1em solid #000;
}
.borderbl { 
    border-left: 0.1em solid #000;
    border-bottom: 0.1em solid #000;
    height: 0.8em;
}
.borderbr { 
    border-right: 0.1em solid #000;
    border-bottom: 0.1em solid #000;
    height: 0.8em;
}

[if IE] .borderl, .borderbl, .borderbr {
    min-height: 0.8em;
    height: auto;
}

#g31,#g32,#g33,#g34 {
    min-height: 4em;
    /* border : 0.1em solid #000; */
    /* background-color:#FFFFD2; */
}
#g21,#g22,#g23,#g24 {
    min-height: 4em;
    /* border : 0.1em solid #000; */
    border-radius: 25px;
    /* background-color:#FFFFD2; */
}
#g11,#g12, #g13, #g14, #g12p,#g13p {
    min-height: 4em;
    /* border : 0.1em solid #000; */
}
#g12,#g13,#g12p,#g13p {
    /* background-color:#FFFFD2; */
}
#g12, #g13p {
    border-width: 0.1em 0em 0.1em 0.1em;
}
#g12p, #g13 {
    border-width: 0.1em 0.1em 0.1em 0em;
}
#p12,#p13 {
    width:90%;
}
#p13 {
    text-align:right;
}
#g0 {
    min-height: 4em;
    border : 0.1em solid #000;
    /* background-color:#FFFFD2; */
}
#children {
    /* background-color:#FFFFD2; */
    width:100%;
    empty-cells:hide;
    table-layout : fixed;
    border-collapse : collapse;
}
#children * td {
    border : 0.1em solid #000;
    margin:0px;
    padding:0px;
}
#info {
    min-height: 4em;
    background-color:#EAFFEA;
}
#colHistory {
    min-height: 4em;
    background-color:#EAFFEA;
    font-size:90%;
    vertical-align:top;
}
.oo {
    letter-spacing:-0.3em;
    padding-right: 0.3em;
}

.famSibling * {
    display:inline;
}
.separator {
    padding-right: 0.5em;
}
.buttons {
    text-align:left;
}

#tabInfo {
    width:100%;
    empty-cells: show;
    table-layout : fixed;
    border-collapse : collapse;
}

#tabInfo * td {
    /* border : 0.1em solid #000; */
    margin:0px;
    padding:0px;
    text-align:left;
}

input {
    padding-top: 2em
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

#tree {
    text-align: center;
    margin-top: 5em;
    /* background-color: blanchedalmond; */
}

#TreeTitle {
    font-family: "Cinzel", serif;
    font-style: regular;
    font-size: 6em;
}

.container-fluid hr {
    text-align: center;
    border: 10px;
    display: block;
    clear: both;
    width: 96%;
    height: 2px;
    background-color: #50B9D9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.div2:hover .dropdown-content {
    display: block;
}

.div1:hover .dropdown-content {
    display: block;
}
