<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Le Dang Family</title>

    <!-- Jquery core -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cinzel:400,700|Gravitas+One|Inconsolata|Libre+Baskerville|Pacifico|Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kalam|Signika" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous"> -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <script src="js/delaySlideshow.js"></script>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->


</head>

<body>
    <div class="container-fluid">

        <div class="col-sm-3"></div>

        <!-- Center Column -->
        <div class="col-sm-6">
            <h1 id="ledang"> <a href='../index.html'> Duy Le </h1>
            <hr>
            <ul class="menu list-group">
                <li class="menu-item"><a href="views/blogs.html"> Blogs </a></li>
                <!-- <li class="menu-item"><a href="views/gallery.html"> Gallery </a></li> -->
                <li class="menu-item"><a href="views/gallery.html"> Gallery </a></li>
                <li class="last-menu-item">
                    <a href="views/familyTree.html"> Family Tree </a>
                </li>
            </ul>

            <div class="row" style="clear: both">
                <div class="col-5" id="front-page-intro">
                    {{content}}
                </div>
            </div>
        </div>
        <!--/Center Column-->

        <div class="col-sm-3"></div>
    </div>

    <footer>
        <div class="small-print">
            <div class="container">
                <p> <a href="mailto: lenguyenhoangduy2001@gmail.com ">Contact</a></p>
                <p>Copyright &copy; duyle 2018 </p>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- IE10 viewport bug workaround -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>

    <!-- Placeholder Images -->
    <script src="js/holder.min.js"></script>

    <!-- slideshow controller -->
    <!-- <script src="js/slideshow.js"></script> -->

    <script src="js/calculateDistance.js"></script>
</body>

</html>
